{#
Hériter d'un template avec extends :
    - reprendre le contenu d'un template parent
    et pouvoir modifier le contenu des blocks qui s'y trouvent
    - on peut redéfinir les blocks dans l'ordre que l'on veut
#}
{% extends 'base.html.twig' %}

{% block body %}
    <p>
        Coucou
    </p>

    <!-- Un commentaire html est visible dans le navigateur -->

    {#
     Ceci est un commentaire twig (pas visible dans le navigateur :
     affichons le chiffre généré dans le controller :
    #}
    Chiffre généré : {{ chiffre }}

    {% if (chiffre > 25) %}
        Bravo
    {% elseif chiffre > 15 %}
        Presque bravo
    {% else %}
        Nul
    {% endif %}

    {% for toto in tabChiffres %}
        <p>{{ toto }}</p>
    {% endfor %}
{% endblock %}

{% block title %}
    Page produit dynamique
{% endblock %}

{% block js_perso %}
    {# on peut reprendre le contenu du bloc parent grâce à la fonction parent() #}
    {{ parent() }}

    <script>
        console.log("Page produit");
    </script>
{% endblock %}