<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- Un commentaire html est visible dans le navigateur -->

    {#
     Ceci est un commentaire twig (pas visible dans le navigateur :
     affichons le chiffre généré dans le controller :
    #}
    Chiffre généré : {{ chiffre }}

    {% if chiffre > 25 %}
    Bravo
    {% endif %}

    {% for variable in tabChiffres %}
        <br>{{ variable }}
    {% endfor %}


</body>
</html>