#menu {
    border: 3px solid red;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
}

#menu a {
    margin-right:10px;
    color:green;
}

#menu a:visited {
    color:red;
}

#menu a:hover {
    color:deeppink;
}

.green {
    color: green;
    border:2px solid green;
    flex-grow: 1;
}

#boite_flex {
    display: flex;
    margin-bottom:30px;
}

#div_gauche {
    text-align:center;
}
#div_droit {
    text-align:right;
    box-shadow: 5px 5px 10px red;
}

#image {
    border: 1px solid;
    width:75%;
    height:200px;
    border-radius: 20px;
}

#container_image {
    text-align: center;
}