<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav>
            <a href="{{ path('app') }}">Page app</a>
            <a href="{{ path('app1') }}">Page app1</a>
            <a href="{{ path('app2_variables') }}">Page app2</a>
        </nav>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        {% block js_perso %}
            <script>
                console.log("Chargement de la page ok");
            </script>
        {% endblock %}
    </body>
</html>
