h1 {
    font-style: italic;
}

p span {
   color: green;
}


#container span .blue {
    color: blue;
}

#last_paragraphe {
    color: red;
}

.coucou {
    color: chartreuse;
}

p {
    color: brown !important;
}

#div_orange {
    /* sera pas pris en compte car le div a du style
    "en-ligne" qui définit déjà la bordure
     */
    border:1px solid red;
}
